h1 {
    color: red;
}

body h1 + p.special {
    color: yellow;
    background-color: black;
    padding: 5px;
}

h1 + p {
    font-size: 200%;
}

p, li {
    color: blue;
}

a:link {
    color: black;
}

a:visited {
    color: green;
}

a:hover {
    text-decoration: none;
}

li {
    list-style-type: decimal;
}

li em {
    color: mediumvioletred;
}

.item2 {
    list-style-type: upper-roman;
}

